#container { min-width: 960px; }

#head_section
{
	background: #79C342 url() no-repeat ;	
	color: #FFF;
	height: 80px;
	text-align: right;
	padding: 10px;
}

#head_section h1
{
	font-size: 32px;
	margin: 0px 0px 0px 10px;
	font-weight: bold;
	line-height: 80px;
	text-align: left;
	float:left;
	
	/* CSS3 */
	text-shadow: 0px 0px 2px #666;
}

#head_section h2
{
	font-size: 24px;
	margin: 0px;
	font-weight: normal;
}

#head_section h3
{
	font-size: 18px;
	margin: 0px;
	font-weight: normal;
}

#head_section img
{
	margin: 5px 0px;
}

#navigator_section
{
	border: 1px dotted #999;
	padding: 5px 10px;
	font-size: 10px;
	margin: 0px 15px	
}

#content_section
{
	margin: 15px	
}

#content_section h1 { text-shadow: 0px 0px 2px #999; }

#foot_section
{
	background: #79C342;	
	color: #FFF;
	font-size: 10px;
	padding: 3px;
	text-align: center;
}
