/*----------------------------------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------------------------------*/

#header
{
	background: url(../../image/deepEmotion/bg_slideshow.png) no-repeat bottom right;
	height: 420px;
	margin-bottom: 10px;
	position: relative;
}

#logo { position: absolute; }

/*----------------------------------------------------------------------------------------------------*/
/* Navigator */
/*----------------------------------------------------------------------------------------------------*/

#navigator ul
{
	list-style: none;
	margin: 170px 0 0 0;
	position: relative;
}

#navigator li { margin: 8px 0px; }

#navigator li a
{
	background: url(../../image/deepEmotion/bg_navigator.png) center no-repeat;
	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 1px 1px 3px #999;
	color: #FFF;
	display: block;
	height: 30px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 3px #999;
	margin-left: 70px;
	opacity: 0.9;
	width: 150px;
}

#navigator li a:hover, #navigator li a.active
{
	box-shadow: 0px 0px 5px #FFF, 1px 1px 3px #999;
	margin-left: 50px;
	background: url(../../image/deepEmotion/bg_navigator_hover.png) no-repeat;
}

/*----------------------------------------------------------------------------------------------------*/
/* Slideshow */
/*----------------------------------------------------------------------------------------------------*/

#slideshow
{
	background: #FFF;
	width: 640px;
	height: 360px;
	margin: 40px 10px 10px 0px;
}

/*----------------------------------------------------------------------------------------------------*/
/* Motto */
/*----------------------------------------------------------------------------------------------------*/

#motto
{
	background: url(../../image/deepEmotion/bg_motto_banner.png);
	color: #FFF;
	height: 46px;
	line-height: 46px;
	text-align: center;
	margin-bottom: 10px;
}

/*----------------------------------------------------------------------------------------------------*/
/* VDO */
/*----------------------------------------------------------------------------------------------------*/

#vdo
{
	background: url(../../image/deepEmotion/bg_video.png) no-repeat;
	height: 300px;
	padding: 0px;
	margin-bottom: 10px;
}

#vdo li
{
	float: left;
	list-style: none;
	text-align: center;
	margin: 0px;
	width: 235px;
}

#vdo img
{
	display: block;
	margin: auto;
	margin-bottom: 15px;	
}

/*----------------------------------------------------------------------------------------------------*/
/* Profile */
/*----------------------------------------------------------------------------------------------------*/

#profile
{
	background: url(../../image/deepEmotion/bg_profile.png) no-repeat;
	height: 400px;
	padding: 0px;
	position: relative;
}

#profileImg
{
	float: left;
	margin: 0px 20px;	
}

#profile li 
{
	list-style: none;
}

/*----------------------------------------------------------------------------------------------------*/
/* Contact */
/*----------------------------------------------------------------------------------------------------*/

#contact_form
{
	background: url(../../image/deepEmotion/bg_profile.png) no-repeat;
	height: 400px;
	padding: 0px;
	position: relative;
}

#contact_form form
{
	color: #FFF;
	padding: 0px 20px;
}

#contact_form label { font-weight: normal; }
#contact_form input[type=text], #contact input[type=password], #contact textarea { width: 410px; }

/*----------------------------------------------------------------------------------------------------*/
/* Testimonial */
/*----------------------------------------------------------------------------------------------------*/

#testimonial h2
{
	background: url(../../image/deepEmotion/bg_motto_banner.png);
	color: #FFF;
	height: 46px;
	line-height: 46px;
	margin-bottom: 10px;
}

#testimonial ul
{
	list-style: none;
	margin: 0px;
}

#testimonial li
{
	background: url(../../image/deepEmotion/bg_testimonial.png) no-repeat;
	color: #333;
	text-shadow: none;
	height: 114px;
	padding: 30px 50px 30px 30px;
	position: relative;
	margin-left: 10px;
	max-width: 775px;
}

#testimonial img
{
	border: 3px solid #FFF;
	border-radius: 10px;
	position: absolute;
	right: -30px;
}

/*----------------------------------------------------------------------------------------------------*/
/* End */
/*----------------------------------------------------------------------------------------------------*/