/*----------------------------------------------------------------------------------------------------*/
/* deepEnotion.css */
/*----------------------------------------------------------------------------------------------------*/

body 
{
	background: #213C08 url(../../image/deepEmotion/bg.png) repeat-x;
	color: #FFF;
	text-shadow: 1px 1px 3px #666; 
}

h2
{
	background: url(../../image/deepEmotion/bg_banner.png) repeat-x;
	color: #FFF;
	padding-left: 20px;
	position: relative;
	text-shadow: 1px 1px 3px #999;
	margin-top: 20px;
}

h2 img.lef_ribbon
{
	position: absolute;
	left: -11px;
}

h2 img.right_ribbon
{
	position: absolute;
	right: -11px;
}
#container
{
	background: url(../../image/deepEmotion/img_graphic.png) repeat-y top center;
	display: block;
}

/*----------------------------------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------------------------------*/

#footer
{
	background: url(../../image/deepEmotion/bg_video.png) no-repeat;
	padding: 10px 20px 0px 0px;
	text-align: center;
}

#footer p
{
	margin: 10px 0px;
}

/*----------------------------------------------------------------------------------------------------*/
/* End */
/*----------------------------------------------------------------------------------------------------*/