/*----------------------------------------------------------------------------------------------------*/
/* Navigator */
/*----------------------------------------------------------------------------------------------------*/
#navigator ul
{
	list-style: none;
	margin: 30px 0 0 0;
	position: relative;
}

#navigator li { float:left; margin: 8px 0px; }

#navigator li:first-child { margin-left: 50p;}

#navigator li a
{
	background: url(../../image/deepEmotion/bg_navigator.png) center no-repeat;
	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 1px 1px 3px #999;
	color: #FFF;
	display: block;
	height: 30px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 3px #999;
	margin-left: 20px;
	opacity: 0.9;
	width: 150px;
}

#navigator li a:hover, #navigator li a.active
{
	box-shadow: 0px 0px 5px #FFF, 1px 1px 3px #999;
	/*margin-left: 50px;*/
	background: url(../../image/deepEmotion/bg_navigator_hover.png) no-repeat;
}

/*----------------------------------------------------------------------------------------------------*/
/* Left Navigator */
/*----------------------------------------------------------------------------------------------------*/

#navigator_left


/*----------------------------------------------------------------------------------------------------*/
/* VDO */
/*----------------------------------------------------------------------------------------------------*/

#vdo div { text-align: center; }